.Home{
    position: fixed;
    height: 100%;
    width:100%;
}
.NewsBlock{
    position: absolute;
    top:15%;
    width:90%;
    background-color: aliceblue;
    height: 80%;
    left:5%;
    border-radius: 25px;
    overflow-y: scroll;
    box-shadow: rgba(223, 222, 222, 0.35) 5px 15px 25px;
    transition: 0.5s ease;
    padding-top: 2%;
}
.NewsBlock:hover{
    box-shadow: rgba(255, 255, 255, 0.35) 10px 20px 30px;
}
.NewsBlock::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 128, 0, 0);
  }
  
.NewsBlock::-webkit-scrollbar-track {
    background: transparent;
  }
  
.NewsBlock::-webkit-scrollbar-thumb {
    background-color:#24282e;
    border-radius:25px;
  }
.News{
    margin: 1%;
    display: flex;
    background-color: black;
    min-height: 40%;
    max-height: 50%;
    border-radius: 25px;
    color:aliceblue;
    cursor: pointer;
    padding-right: 2%;
}
.content{
    align-self: center;
    margin-left: 3%;
}
.np{
    min-height: 15%;
    max-height: 15%;
    /* width:500px; */
    width:22%;
    align-self: center;
    border-radius: 25px;
    margin-left: 1%;
}
.popupInfo{
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.885);
}
.popupcontent{
    align-self: center;
    justify-self: center;
    position: absolute;
    left:15%;
    width: 70%;
    min-height: 65%;
    top:12.5%;
    padding: 2%;
    border-radius: 25px;
    background-size:cover;
    box-shadow: rgba(223, 222, 222, 0.35) 5px 15px 25px;
}
.popupcontent .content{
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.901);
    padding: 5%;
    color: aliceblue;
    border-radius: 25px;

}
.headline{
    font-size: 45px;
    font-weight: 700;
}
.pag-btns{
    display: flex;
    padding: 2%;
}
.pag-btns button{
    padding: 1%;
    border-radius: 25px;
    font-size: 35px;
    cursor: pointer;
    background-color: #24282e;
    color: aliceblue;
    border: none;
    align-self: center;
    position: relative;
    margin-left:2% ;
    left:28%;
    width: 20%;
}
.popupInfo button{
    position: relative;
    left:90%;
    width:10%;
    font-size: 45px;
    font-weight: 800;
    color: aliceblue;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.pag-btns button:hover{
    color:cadetblue
}
@media screen and (max-width:550px){
    .News{
        min-height: 45%;
        max-height: 60%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .content{
        padding: 5%;
    }
    .np{
        height: 150px;
        width:330px;
        margin-top: 4%;
    }
    .popupcontent .content{
        font-size: 20px;
    }
    .headline{
        font-size: 20px;
        font-weight: 700;
    }
    .popupcontent{
        left:5%;
        width: 85%;
        min-height: 45%;
    }
    .popupcontent .content{
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.901);
        padding: 5%;
        color: aliceblue;
        border-radius: 25px;
    
    }
    .pag-btns button{
        left:20%;
        font-size: 20px;
        width:30%;
        padding: 2%;
    }
    .popupInfo button{
        display: none;
    }
}
