.Navbar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 10%;
    /* background-color: aliceblue; */
}
.logout{
    width: 5%;
    height: 60%;
    align-self: center;
    position: absolute;
    right:1%;
    border-radius: 25px;
    font-size: 20px;
    background-color: black;
    color:aliceblue;
    border: none;
}
.logout:hover{
    color: red;
    cursor: pointer;
}
.dp{
    align-self: center;
    height: 70%;
    width:3%;
    border-radius: 50%;
    position: absolute;
    right: 7%;
}
.links{
    align-self: center;
    text-decoration: none;
    font-size: 25px;
    margin-left: 5%;
    color: aliceblue;
}
.links:hover{
    color: cadetblue;
}
@media screen and (max-width:550px){
    .dp{
        width:15%;
        right:30%;
    }
    .logout{
        width:22%;
    }
}